<div class="atfbanner">
    <h1 class="atf"> Brought to you by All The Farms </h1>
</div>

{% schema %}
{
    "name": "ATF Banner",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "ATF Banner"
    }
  ]
}
{% endschema %}

{% style %}
  .atfbanner {
	margin-top: 40px;
    padding: 20px;
    background: #399e2c;
    color: white;
    font-size: 2rem;
  }

  h1.atf {
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  }
{% endstyle %}