<ul class="no_bullet">
  <li class="leaf">I’m writing a long list item 1 so you can see what happens when the text wraps across multiple lines</li>
  <li class="leaf">List item 2</li>
  <li class="leaf">List item 3</li>
</ul>

{% schema %}
{
  "name": "Farming Practices",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Farming Practices"
    }
  ]
}
{% endschema %}

{% style %}
  li.leaf {
  background: url('https://cdn.iconscout.com/icon/free/png-512/farm-1616580-1372083.png') no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
  }
{% endstyle %}