<ul class="leaf">
  <li>Certified Organic</li>
  <li>Integrated crops and live stock</li>
  <li>Integrated pest management</li>
</ul>

{% schema %}
{
  "name": "Farming Practices",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Farming Practices"
    }
  ]
}
{% endschema %}

{% style %}
  li.leaf {
  background: url('https://cdn.iconscout.com/icon/free/png-512/farm-1616580-1372083.png') no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
  }
{% endstyle %}